.downloadBoard {
    display: flex;
    justify-content: center;

    .clientBoard {
        padding: 0 20px 20px 20px;
        width: 100%;
        height: 100%;
        max-width: 575px;
        max-height: 634px;
        border-radius: 7px 0px 0px 7px;
        background: rgb(25, 25, 25);

        .downloadBlock {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;

            .downloadTorrent {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                border-radius: 8px;
                background: rgb(16, 16, 16);
            }
            .downloadYandex {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 330px;
                border-radius: 8px;
                background: rgb(16, 16, 16);
            }
            .downloadGoogle {
                padding: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                justify-content: center;
                height: 330px;
                border-radius: 8px;
                background: rgb(16, 16, 16);
            }
        }

        .titleDownload {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}

.torrent__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.yandex__row {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.yandexName h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}

.torrentName h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}

.download__row {
    display: flex;
    margin-top: 33px;
    gap: 36px;
    flex-direction: column;
}

@mixin btn($width, $height) {
    width: 100%;
    max-width: $width;
    max-height: $height;
    -webkit-box-flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-radius: 3px;
    background: linear-gradient(
        18.57deg,
        rgb(252, 130, 23) -22.517%,
        rgb(255, 195, 90) 157.192%
    );
}

.helpBtn button {
    padding: 0 15px;
    @include btn(275px, 30px);
    p {
        @include paragraphText(16px, 700);
    }
}

.downloadBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    button {
        @include btn(225px, 30px);
    
        p {
            @include paragraphText(16px, 700);
        }
    }
}



.torrentLogo {
    width: 100%;
    height: 100%;
    max-width: 89px;
    max-height: 89px;
    background: url(../img/svg/downloadHelp/torrentLogo.svg);
}

.yandexLogo {
    width: 100%;
    height: 100%;
    max-width: 89px;
    max-height: 89px;
    background: url(../img/svg/downloadHelp/yandexDiskLogo.svg);
}
.googleLogo {
    width: 100%;
    height: 100%;
    max-width: 89px;
    max-height: 89px;
    background: url(../img/svg/downloadHelp/Google_Drive.png) top no-repeat;
    background-size: contain;
}

.downloadHelp {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 20px;
    gap: 20px;

    .helpInfo {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            @include paragraphText(17px, 800);
        }

        h2 {
            @include paragraphText(16px, 800);
            color: #777777;
            white-space: pre-wrap; // Разрешает перенос строк по пробелам
            word-wrap: break-word; // Разрывает слова, когда они не умещаются в контейнере
        }
    }
}


@media (max-width: 450px) {
    .downloadBoard {
        .clientBoard {
            max-height: 100%;

            .downloadBlock {
                flex-direction: column;

                .downloadYandex {
                    height: 260px;
                }
                .downloadGoogle {
                    height: 260px;
                }
            }
        }
    }
}


@media (min-width: 1920px) {
    .downloadBoard {
        
        .clientBoard {
            max-width: 100%;
            max-height: 100%;
            width: calc-between-width(1600, 575, 1920);
    
            .download__row {

                .downloadHelp {

                    .helpBtn {
                        button {
                            max-width: 100%;
                            max-height: 100%;
                            width: calc-between-width(1600, 275, 1920);
                        }
                    }
                }
                .downloadBlock {

                    .downloadYandex {
    
                        .yandex__row {
                            max-width: 100%;
                            max-height: 100%;
                            height: auto;
    
                            .yandexLogo {
                                width: 6vw;
                                height: 6vw;
                                max-width: 100%;
                                max-height: 100%;
                                background-size: cover;
                            }
                            .yandexName {
        
                                h1 {
                                    font-size: calc-between-width(1600, 20, 1920) !important;
                                }
                            }
                        }
                        .downloadBtn {
                            button {
                                max-width: 100%;
                                max-height: 100%;
                                width: calc-between-width(1600, 225, 1920);
                            }
                        }
                    }
                    .downloadGoogle {
                        gap: 15px;
    
                        .yandex__row {
                            max-width: 100%;
                            max-height: 100%;
                            height: auto;
    
                            .googleLogo {
                                width: 6vw;
                                height: 6vw;
                                max-width: 100%;
                                max-height: 100%;
                                background-size: contain;
                            }
                            .yandexName {
        
                                h1 {
                                    font-size: calc-between-width(1600, 20, 1920) !important;
                                }
                            }
                        }
                        .downloadBtn {
                            button {
                                max-width: 100%;
                                max-height: 100%;
                                width: calc-between-width(1600, 225, 1920);
                            }
                        }
                    }
                }
            }
        }
    }
}